*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -0.02em;
}


.animation {
  background-color: #ffffff;
  grid-area: animation;
}

.message {
  background-color: #ffffff;
  text-align: center;
  grid-area: message;
}

.line {
  background-color: #979797;
  text-align: center;
  grid-area: line;
}

img {
  width: 100%;
  justify-content: center;
}

.text {
  padding-bottom: 2rem;
}

.nav {
  background-color: #ffffff;
  text-align: right;
  align-self: end;
  grid-area: nav;
}

h1 {
  color: #DC552B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: -0.02em;
  padding-bottom: 1rem;
}

a {
  color: #037A96;
  font-weight: 500;
  font-size: 1.4rem;
  font-style: none;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
  text-decoration: none;
}

a:hover {
    color: #DDDEA8;
}

.grid-container {
  display: grid;
  grid-template-columns: 5rem 25.7rem 5rem;
  grid-template-rows: 350px 120px 1px 50px;
  grid-template-areas:
    ". animation ."
    ". message ."
    ". line . "
    ". nav ."
}
