*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: linear-gradient(0deg, #04A0C6 11.72%, rgba(4, 160, 198, 0.51667) 45.05%, #FFFFFF 80.78%);
  color: #979797;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -0.02em;
}

ion-icon {
  color: #010101;
  font-size: 24px;
  float: right;
  padding: 25px;
}

.nav {
  grid-area: nav;
}

.top {
  grid-area: top;
}

.main {
  border-radius: 1rem;
  text-align: left;
  grid-area: main;
}

.bottom {
  grid-area: bottom;
}

p {
    justify-content: right;
}

h1 {
  font-weight: 600;
  font-size: 1.4rem;
  font-style: none;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 1.3rem;
  margin: 1rem 0 2rem 0;
  float: right;
}

img {
  height: 100%;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 5rem 29rem 5rem;
  grid-template-rows: 85px 180px 215px auto;
  grid-template-areas:
    "nav nav ."
    ". top ."
    ". main ."
    ". bottom ."
  }
