*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');


body {
  background: linear-gradient(0deg, #04A0C6 11.72%, rgba(4, 160, 198, 0.51667) 45.05%, #FFFFFF 80.78%);
  color: #979797;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -0.02em;
}

ion-icon.ellipsis {
  color: #020202;
  font-size: 24px;
  padding-top: 1.8rem;
  float: right;
}

ion-icon.check {
  color: #ffffff;
  font-size: 1.2rem;;
}

.nav {
  grid-area: nav;
}

.main {
  background-color: #FDFFFB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: .2rem;
  padding: 20px;
  margin-top: 8px;
  margin-bottom: 4px;
  grid-area: main;
}


UL.amount {
 display: flex;
 align-items: baseline;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

UL.amount li {
  display: inline;
}

p.start_amt {
position: absolute;
left: 30px;
top: 185px;
color: #020202;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: normal;
}

p.end_amt {
position: absolute;
left: 234px;
top: 185px;
color: #020202;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: normal;
}

.money {
  color: #020202;
  font-weight: 600;
  font-size: 3.6rem;
}

.message {
  color: #037A96;
  font-weight: 800;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  margin-left: 90px;
  float: right;
}
.current {
  background-color: #FCF8E8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: .2rem;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  grid-area: current;
}

.current p  {
  color: #020202;
  font-weight: 400;
  font-size: 1.2rem;
}

.current p.current_title {
  color: #AFB066;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 1.2rem;
}

.red {
  color: #DC552B;
  font-weight: 600;
}

.completed {
  background-color: #E3F4CF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: .2rem;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  grid-area: completed;
}

.completed p  {
  color: #020202;
  font-weight: 400;
  font-size: 1.2rem;
}

.completed p.completed_title {
  color: #809F5B;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
}


.material-icons.first {
  font-size: 24px;
 position: absolute;
 right: -7px;
 bottom: -5px;
 width: 30px;
 height: 30px;
 padding: 2px;
 border-radius: 50%;
 background-color: #DDDEA8;
 box-sizing: content-box;
 transition: right 0.5s, bottom 0.5s, padding 0.5s;
 line-height: 30px;
 text-align: center;
}

.material-icons.first:hover {
  font-size: 24px;
   position: absolute;
   padding: 10px;
   right: -11px;
   bottom: -9px;
   background-color: #DDDEA8;
}

.material-icons.second {
  font-size: 24px;
  position: absolute;
  right: -7px;
  bottom: -5px;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 50%;
  background-color: #B3CC95;
  box-sizing: content-box;
  transition: right 0.5s, bottom 0.5s, padding 0.5s;
  line-height: 30px;
  text-align: center;
}

.material-icons.second:hover {
  font-size: 24px;
  position: absolute;
  padding: 10px;
  right: -11px;
  bottom: -9px;
  background-color: #B3CC95;
}

select {
  width: 50%;
  padding: 2px 20px;
  border: 1px solid #DC552B;
  border-radius: 4px;
  background-color: #FCF8E8;
  font-family: Montserrat;
  font-size: 1.2rem;
}

label {
  color: #020202;
  font-family: Montserrat;
  font-size: 1.2rem;
  margin-left: 22px;
}

button.btn {
  padding: 5px 7px;
  border: 1px solid #DC552B;
  border-radius: 4px;
  background-color: #FEA488;
  color: #ffffff;
}

button.btn:hover {
  background-color: #DC552B;
}

img.logo {
  height: 100%;
  padding-top: 1.2rem;
  padding-left: 1.2rem;
}

#wrapper{
  width: 400px;
  height: 400px;

}

#meter{
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}

.grid-container {
  display: grid;
  grid-template-columns: .8rem 29rem .8rem;
  grid-template-rows: 50px 178px 178px 110px;
  grid-template-areas:
    "nav nav ."
    ". main ."
    ". current ."
    ". completed ."
  }
