*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: linear-gradient(0deg, #04A0C6 11.72%, rgba(4, 160, 198, 0.51667) 45.05%, #FFFFFF 80.78%);
  color: #979797;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -0.02em;
}

ion-icon {
  color: #010101;
  font-size: 24px;
  float: right;
  padding: 25px;
}

.nav {
  grid-area: nav;
}

.main {
  background-color: #FDFFFB;
  border-radius: .2rem;
  margin-top: 8px;
  margin-bottom: 4px;
  text-align: left;
  grid-area: main;
}

.current {
  background-color: #FCF8E8;
  border-radius: .2rem;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  grid-area: current;
}

.completed {
  background-color: #E3F4CF;
  border-radius: .2rem;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  grid-area: completed;
}

p {
    justify-content: right;
}

.mainDetails {
  position: relative;
  padding: 1rem;
  float:left:
  height: 120px;
  width: 300px;
}
.mainDetails p {
  position: absolute;
  bottom: 0;
}

.money {
  color: #020202;
  padding: 1.4rem;
  font-weight: 600;
  font-size: 3.6rem;
}

.message {
  color: #037A96;
  padding: 2.4rem;
  font-weight: 800;
  font-size: 1.2rem;
  float: right;
}


h1 {
  font-weight: 600;
  font-size: 1.4rem;
  font-style: none;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 1.3rem;
  margin: 1rem 0 2rem 0;
  float: right;
}



img {
  height: 100%;
  padding: 2rem;
}

#wrapper{
  width: 400px;
  height: 400px;
}

#meter{
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}

.grid-container {
  display: grid;
  grid-template-columns: .8rem 29rem .8rem;
  grid-template-rows: 65px 198px 198px 120px;
  grid-template-areas:
    "nav nav ."
    ". main ."
    ". current ."
    ". completed ."
  }
