*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #04A0C6;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -0.02em;
}

.top {
  background-color: #037A96;
  height: 24px;
  text-align: right;
  width: 100%;
}

.logotype {
  background-color: #04A0C6;
  grid-area: logotype;
}

.logo {
  background-color: #04A0C6;
  grid-area: logo;
}

img {
  display: block;

}

img.status {
  display: inline;
  height: 100%;
}

.main {
  background-color: #04A0C6;
  justify-content: center;
  text-align: left;
  grid-area: main;
}

form {
  border: 0px;
  width: 25.7rem;
  height: 21.1rem;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: .8rem 1rem;
  border-radius: 10rem;
  margin-bottom: .6rem;
  border: 0px;
  box-sizing: border-box;
}

button {
  background-color: #B3CC95;
  color: #020202;
  font-weight: 600;
  border-radius: 10rem;
  padding: 1.2rem 1rem;
  margin: 1.6rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
    background-color: #DDDEA8;
}

span.psw {
  float: right;
}

a {
  color: #DDDEA8;
  font-weight: 500;
  font-size: 1.4rem;
  font-style: none;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 1.3rem;
  margin-top: 1rem;
  justify-content: right;
}

a:hover {
    color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 24vh 30vh 35vh auto;
  grid-template-areas:
    ". logotype ."
    ". logo ."
    ". main ."
    ". . ."  ;
}
